html{
  background-color: #00051b;
}

h3, h2, h1, p, span {
  color: rgb(214, 213, 213);
}

summary::marker {
  color: white;

}

summary::after{
  color: white;
}

summary{
  margin-bottom: 30px;
}

summary:hover{
  cursor: pointer; 
}

input{
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 40px;
  margin: auto;
  text-align: center;
}

button{
  background-color: white;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  
}

button:hover{
  cursor: pointer;
}

.component-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
  background-color: #00051b;
}

#content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  background-color: #0000008a;
  text-align: center;
  border-radius: 9px;
  padding: 20px;
}

#middle{
  display: inline-block;
}

input{
  margin-right: 15px;
  border: none;
  width: 80%;
}

#pErro{
  font-size: 18px;
  font-weight: bold;
  color: whiet !important;
}

#iconeChamp{
  display: inline-block;
  width: 100px
}

#divSummoner{
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

#iconeMaestria{
  width: 50px;
}

#maestria{
  display: inline-block;
  margin-left: 15px;
}

#iconeInvocador{
  border-radius: 50px;
  width: 130px;
}

#freeWeek{
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

#champs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.champ{
  display: inline-block;
  margin-bottom: 15px;
  justify-content: space-between;
  margin-right: 10px;
  
}

.champFreeWeek{
  margin-bottom: 3px;
  width: 70px;
}

#nivelInvocadorText{
  font-size: 18px;
}

#divMaestria{
  text-align: center;
  display: inline;
}

#divBusca{
  display: inline-block;
  margin: auto;
  width: 50%;
}

.hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.normal{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

@media only screen and (max-width: 1040px) {

  h3:first-child{
    font-size: 20px;
  }
  .component-app{
    padding: 30px 0 30px 0;
  }

  input{
    width: 90%;
    margin-bottom: 40px;
    margin: auto;
    text-align: center;
  }

  #divBusca{
    display: block;
    width: 90%;
  }

  #nivelInvocadorText{
    font-size: 17px;
  }

  #freeWeek{
    width: 90%;
  }
}

@media only screen and (max-width: 570px) {
  #content{
    width: 82%;
  }

  .component-app{
    padding: 10px 0 10px 0
  }

  #freeWeek{
    width: 100%;
  }
}