html{
  background-color: #00051b;
}

h3, h2, h1, p, span {
  color: rgb(214, 213, 213);
}

input{
  width: 75%;
  border-radius: 7px;
  padding: 10px;
  font-size: 15px;
}

button{
  color: orangered;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
}

.component-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
  background-color: #00051b;
}

#content{
  width: 80%;
  background-color: #0000008a;
  text-align: center;
  border-radius: 9px;
  padding: 20px;
}

input{
  margin-right: 15px;
  border: none;
  width: 80%;
}

#pErro{
  font-size: 18px;
  font-weight: bold;
  color: whiet !important;
}

#iconeChamp{
  display: inline-block;
  width: 100px
}

#iconeMaestria{
  width: 50px;
}

#maestria{
  display: inline-block;
  margin-left: 15px;
}

#iconeInvocador{
  border-radius: 50px;
  width: 130px;
}

#nivelInvocadorText{
  font-size: 18px;
}

#divMaestria{
  text-align: center;
  display: inline;
}

#divSummoner{
  margin-right: 30px;
  float: right;
}

#left{
  display: inline-block;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 1736px) {
  #content{
    width: 75%;
  }

  input{
    width: 100%;
    margin-bottom: 40px;
    margin: auto;
    text-align: center;
  }

  button{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
}

}

@media only screen and (max-width: 1040px) {

  h3:first-child{
    font-size: 20px;
  }
  .component-app{
    padding: 30px 0 30px 0;
  }

  input{
    width: 90%;
    margin-bottom: 40px;
    margin: auto;
    text-align: center;
  }

  #left{
    display: block;
    width: 90%;
  }

  button{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
  }

  #divSummoner{
    float: none;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 0;
    text-align: center;
    
  }

  #nivelInvocadorText{
    font-size: 17px;
  }
}

@media only screen and (max-width: 570px) {
  #content{
    width: 82%;
  }

  .component-app{
    padding: 10px 0 10px 0
  }
}